@import "tailwindcss";

section, footer{
	background-color: #181619;
}

section.no-bg {
	background-color: transparent;
}

body::before {
  content: "";
  position: fixed;
  height: 700px;
  inset: 0;
  z-index: -1;
  background-image: url('top-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}