@import "tailwindcss";

section, footer{
	background-color: #181619;
}

section.no-bg {
	background-color: transparent;
}

.bg-img::before {
  content: "";
  position: fixed;
  height: 700px;
  inset: 0;
  z-index: -1;
  background-image: url('https://vqsvlqcvaktgngyoxuyp.supabase.co/storage/v1/object/public/activity-imgs/top-image.jpg');
  background-size: cover;
  background-position: center;
}